<p-table #dt [columns]="cols" [value]="bugsToView" [paginator]="true" [rows]="5" [customSort]="true"
         (sortFunction)="customSort($event)" (onRowSelect)="onRowSelect($event)"
         selectionMode="single" [(selection)]="selectedBug" [style]="{width: '100%'}">

  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <input type="text" pInputText size="50" placeholder="{{'BUGS.FILTER' | translate}}"
             (input)="dt.filterGlobal($event.target.value, 'contains')"
             [ngStyle]="{'width':'800px'}">
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of cols" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn [ngStyle]="{'width':col.width}">
        {{'BUGS.'+col.header | translate}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>

    <tr>
      <th *ngFor="let col of cols" [ngSwitch]="col.field">
        <input *ngSwitchCase="'title'" pInputText type="text"
               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [ngStyle]="{'width':'100px'}">

        <input *ngSwitchCase="'description'" pInputText type="text"
               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [ngStyle]="{'width':'110px'}">

        <input *ngSwitchCase="'version'" pInputText type="text"
               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [ngStyle]="{'width':'50px'}">

        <p-calendar #cal=ngModel ngModel name="calendar" id="calendar" [style]="{'width': '200px'}"
                    *ngSwitchCase="'targetDate'" [defaultDate]="" [readonlyInput]="false" dateFormat="yy-MM-dd" [showButtonBar]="true"
                    (onSelect)="dt.filter($event, col.field, 'dateFilter')" (onClearClick)="dt.filter($event.target.value, col.field, 'contains')"></p-calendar>

        <p-multiSelect [style]="{'width':'90px'}" *ngSwitchCase="'status'" [options]="statusTypes" defaultLabel="All Types"
                       (onChange)="dt.filter($event.value, col.field, 'equals')"></p-multiSelect>

        <input *ngSwitchCase="'fixedVersion'" pInputText type="text"
               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [ngStyle]="{'width':'50px'}">

        <p-multiSelect *ngSwitchCase="'severity'" [options]="severityTypes" defaultLabel="All Types"
                       (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>

        <p-dropdown *ngSwitchCase="'createdId'" [options]="usernamesForFilter"
                    (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>

        <p-dropdown *ngSwitchCase="'assignedId'" [options]="usernamesForFilter"
                    (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>

      </th>


    </tr>

  </ng-template>

  <ng-template pTemplate="body" let-rowData let-bugsToView>
    <tr [pSelectableRow]="rowData">
      <td>{{bugsToView.title}}</td>

      <td><textarea>{{bugsToView.description}}</textarea></td>

      <td>{{bugsToView.version}}</td>
      <td>{{bugsToView.targetDate | date:'yyyy-MM-dd'}}</td>
      <td>{{bugsToView.status}}</td>
      <td>{{bugsToView.fixedVersion}}</td>
      <td>{{bugsToView.severity}}</td>
      <td>{{bugsToView.createdId}}</td>
      <td>{{bugsToView.assignedId}}</td>
    </tr>
  </ng-template>
</p-table>


<p-dialog header="{{'BDETAIL.DET' | translate}}" [(visible)]="displayBugPopUp" [responsive]="true" [modal]="true"
          width="700">
  <form #editBugForm="ngForm" (ngSubmit)=editBug(editBugForm)>

    <div class="ui-g ui-fluid" *ngIf="popUpBug">

      <div class="ui-g-12">
        <div class="ui-g-4">
          <div class="form-style">
            <label class="required" for="title">{{'BDETAILS.TITLE' | translate}}</label>
          </div>
        </div>
        <div class="ui-g-8">
          <input pInputText
                 required
                 pattern="^\d*[a-zA-Z][a-zA-Z\d]*$"
                 minlength=3
                 maxlength=25
                 id="title"
                 name="title"
                 class="form-control"
                 #title="ngModel"
                 [disabled]="!userHasManagementPermission"
                 [(ngModel)]="popUpBug.title"
          />
          <div *ngIf="title.touched && title.invalid">
            <div *ngIf="title.errors.required" style="color:red">
              *Title is required.
            </div>
            <div *ngIf="title.errors.minlength" style="color:red">
              *Invalid title. Title must have a minimum of 3 characters.
            </div>
            <div *ngIf="title.errors.pattern" style="color:red">
              *Invalid title.
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <div class="form-style">
            <label for="description">{{'BDETAILS.DESC' | translate}}</label>
          </div>
        </div>
        <div class="ui-g-8">
          <textarea required
                    minlength=250
                    maxlength=1000
                    id="description"
                    name="description"
                    class="form-control"
                    #description="ngModel"
                    rows="5" cols="50"
                    [disabled]="!userHasManagementPermission"
                    [(ngModel)]="popUpBug.description">
          </textarea>
          <div *ngIf="description.touched && description.invalid">
            <div *ngIf="description.errors.required" style="color:red">
              *Description is required.
            </div>
            <div *ngIf="description.errors.minlength" style="color:red">
              *Invalid description. Description must have a minimum of 250 characters.
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <div class="form-style">
            <label for="version">{{'BDETAILS.VERSION' | translate}}</label>
          </div>
        </div>
        <div class="ui-g-8">
          <input pInputText
                 required
                 pattern="^[0-9.]*$"
                 maxlength=10
                 id="version"
                 name="version"
                 class="form-control"
                 #version="ngModel"
                 [disabled]="!userHasManagementPermission"
                 [(ngModel)]="popUpBug.version"
          />
          <div *ngIf="version.touched && version.invalid">
            <div *ngIf="version.errors.required" style="color:red">
              *Version is required.
            </div>
            <div *ngIf="version.errors.pattern" style="color:red">
              *Invalid version. Versions must be of the form '1.1.1'
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <div class="form-style">
            <label for="targetDate">{{'BDETAILS.TARGETDATE' | translate}}</label>
          </div>
        </div>
        <div class="ui-g-8">
          <p-calendar required ngModel name="targetDate" id="targetDate" #targetDate="ngModel" [style]="{'width': '300px'}"
                      [disabled]="!userHasManagementPermission"
                      [(ngModel)]="selectedBugDate" dateFormat="yy-MM-dd"></p-calendar>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <div class="form-style">
            <label for="status">{{'BDETAILS.STATUS' | translate}}</label>
          </div>
        </div>
        <div class="ui-g-8">
          <p-dropdown id="status" name="status" [options]="getTransitionOptions(popUpBug.status)"
                      [disabled]="((
                      !((userHasBugClosePermission && !userHasManagementPermission) && (isStatusFixed || isStatusRejected)) &&
                      !((!userHasBugClosePermission && userHasManagementPermission) && !(isStatusFixed || isStatusRejected)) ) &&
                      !(userHasBugClosePermission && userHasManagementPermission)
                      )"
                      [(ngModel)]="popUpBug.status"></p-dropdown>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <div class="form-style">
            <label for="fixedVersion">{{'BDETAILS.FXVERSION' | translate}}</label>
          </div>
        </div>
        <div class="ui-g-8">
          <input pInputText
                 pattern="^[0-9.]*$"
                 maxlength=10
                 id="fixedVersion"
                 name="fixedVersion"
                 class="form-control"
                 #fixedVersion="ngModel"
                 [disabled]="!userHasManagementPermission"
                 [(ngModel)]="popUpBug.fixedVersion"
          />
          <div *ngIf="fixedVersion.touched && fixedVersion.invalid">
            <div *ngIf="fixedVersion.errors.pattern" style="color:red">
              *Invalid version. Versions must be of the form '1.1.1'
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <div class="form-style">
            <label for="severity">{{'BDETAILS.SEVERITY' | translate}}</label>
          </div>
        </div>
        <div class="ui-g-8">
          <p-dropdown id="severity" name="severity" [options]="severityTypes" [(ngModel)]="popUpBug.severity"
                      [disabled]="!userHasManagementPermission"></p-dropdown>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <div class="form-style">
            <label for="createdId">{{'BDETAILS.CREATEDBY' | translate}}</label>
          </div>
        </div>
        <div class="ui-g-8">
          <input pInputText id="createdId" name="createdId" [disabled]="true" [(ngModel)]="popUpBug.createdId"/>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <div class="form-style">
            <label for="assignedId">{{'BDETAILS.ASSIGNEDTO' | translate}}</label>
          </div>
        </div>
        <div class="ui-g-8">
          <p-dropdown id="assignedId" name="assignedId" [options]="createdByUsernamesForDropDown"
                      [disabled]="!userHasManagementPermission"
                      [(ngModel)]="popUpBug.assignedId"></p-dropdown>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <div class="form-style">
            <label for="attachment">Attachment</label>
          </div>
        </div>
        <div class="ui-g-8">

          <input
            class="form-control-file ng-touched ng-dirty ng-invalid"
            id="attachment"
            name="attachment"
            type="file"
            accept=".pdf,.doc,.odf,.xlsx,.xls"
            [ng2FileSize]="{ max: 25000 }"
            [fileSizeErrorMsg]="'File size must be less than 25MB.'"
            #attachment="ngModel"
            ngModel
          >
          <div style="color:dimgrey; font-style: italic; font-size:10px">
            *File can't be larger than 25MB.
          </div>

          <div style="color:dimgrey; font-style: italic">
            <label>Current Attachment: {{assignedAttachment}}</label>
          </div>

        </div>
      </div>

    </div>

    <button class="btn btn-primary" style="margin-top:3%" [disabled]="editBugForm.invalid"
            [hidden]="!userHasManagementPermission"
            [disabled]="editBugForm.invalid">{{'BDETAILS.BTNEDIT' | translate}}
    </button>

    <button class="btn btn-primary" type="button" style="margin-top:3%; margin-left:3px"
            [hidden]="!userHasExportPermission" (click)="downloadPdf(popUpBug)">Export as PDF
    </button>

  </form>
</p-dialog>
<button class="btn btn-primary" style="margin-top:3%" (click)="exportAsXLSX()">Export List as Excel</button>
