table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

/*:host{*/
/*::ng-deep .prime-dialog-override{*/
/*  width: 500px;*/
/*  background-color: lightgrey;*/
/*}*/
/*}*/

.bugPopUp {
  width: 500px;
  background-color: lightgrey;
}

.bugPopUpLabels {
  font-weight: bold;
}
p-dropdown {
  min-width: 50px !important;
}
