table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

.form-style {
  font-weight: bold;
  color: black;
}

.form-control.ng-invalid.ng-touched {
  border: 2px;
  border-style: solid;
  border-color: red;
}

