<p>user-list works!</p>
<div style="text-align:left;width:500px;">


  <div>
    <table>
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Username</th>
        <th>Status</th>
      </tr>
      <tr *ngFor="let user of arrUsers">
        <th>{{user.firstName}}</th>
        <th>{{user.lastName}}</th>
        <th>{{user.email}}</th>
        <th>{{user.mobileNumber}}</th>
        <th>{{user.username}}</th>
        <th>{{user.status}}</th>
      </tr>
    </table>

  </div>


  <div></div>

</div>

