
<!--<div style="  text-align:left;width:500px;">-->


  <p-table  id="user_table" [columns]="cols" [value]="arrUsers"  [paginator]="true" [rows]="5" (onRowSelect)="onRowSelect($event)"
           selectionMode="single" [(selection)]="selectedUser" [style]="{width: '100%' }" >
    <ng-template pTemplate="header" let-columns >
      <tr>
        <th *ngFor="let col of cols" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn [ngStyle]="{'width': col.width}" >
          {{'USERLIST.' + col.header | translate}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate = "body" let-rowData let-arrUsers>
      <tr [pSelectableRow]="rowData">

            <td>{{arrUsers.firstName}}</td>
            <td>{{arrUsers.lastName}}</td>
            <td>{{arrUsers.email}}</td>
            <td>{{arrUsers.mobileNumber}}</td>
            <td>{{arrUsers.username}}</td>


        <td>
          <div *ngIf="arrUsers.status === false">
            {{'USERLIST.ACTIVATED' |translate}}
          </div>
          <div *ngIf="arrUsers.status === true">
            {{'USERLIST.DEACTIVATED' |translate}}
          </div>
        </td>



      </tr>
    </ng-template>




  </p-table>
  <p-dialog header = "{{'USERDETAILS.USERDETAIL' | translate}}" [(visible)]="displayDialog" [responsive]="true" [modal]="true"
            [style]="{width: '500px', background: 'lightgrey'}">
    <div class="ui-g ui-fluid" *ngIf="selectedUser">

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label styleClass="bugPopUpLabels" for="title">{{'USERDETAILS.FIRSTNAME' | translate}}</label>
        </div>
        <div class="ui-g-8">
          <input pInputText
           id="firstName"
           [(ngModel)]="selectedUser.firstName"
           style = "width:200px;"
           pattern = "^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$"/>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="description">{{'USERDETAILS.LASTNAME' | translate}}</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="description" [(ngModel)]="selectedUser.lastName" style = "width:200px;"/>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="version">{{'USERDETAILS.EMAIL' | translate}}</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="version" [(ngModel)]="selectedUser.email" style = "width:200px;"/>
          <br>
          {{'USERDETAILS.EMAILSTAR' | translate}} <br>  {{'USERDETAILS.EMAILSTAR2' | translate}}
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="targetDate">{{'USERDETAILS.MOBILENUMBER' | translate}}</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="targetDate" [(ngModel)]="selectedUser.mobileNumber" style = "width:200px;"/>
          <br>
          {{'USERDETAILS.MOBILESTAR' | translate}} <br>  {{'USERDETAILS.MOBILESTAR2' | translate}}
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="username">{{'USERDETAILS.USERNAME' | translate}}</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="username" [(ngModel)]="selectedUser.username" style = "width:200px;" disabled/>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="password">{{'USERDETAILS.PASSWORD' | translate}}</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="password" [(ngModel)]="selectedUser.password" style = "width:200px;" type = "password"/>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="fixedVersion">{{'USERDETAILS.BLOCKED' | translate}}</label>
        </div>
        <div class="ui-g-8">

          <input type = "checkbox" id="fixedVersion" [(ngModel)]="selectedUser.status" >



        </div>
      </div>
      <div class = "ui-g-12">
          <div class = "ui-g-4">
            {{'USERDETAILS.ROLES' | translate}}
          </div>
      </div>
      <div class = "ui-g-12">
          <div *ngFor = "let role of roles" class = "checkbox" class = "ui-g-2">
              <label>
                  <input type = "checkbox"
                  [(ngModel)] = "role.checked"
                  name = "role"
                  id = "role{{role.id}}"
                  [value] = "role.id">
                  {{role.type}}
              </label>
          </div>
      </div>
      <div class = "ui-g-12">
        <div class = "ui-g-4">
          <button class = "btn btn-primary" style = "margin-top:3%;width: 155px" (click) = "onEditClick()">{{'USERDETAILS.EDIT' | translate}}</button>
        </div>
      </div>
      
    </div>
  </p-dialog>


<!--</div>-->

