table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  width: 200px;
}

.roleType {
  font-weight: bold;
}

.checkBoxColumn {
  column-width: 200px;
}
