<!-- <p>dashboard works!</p>
<div>
  <nav>
    <a routerLinkActive="active current" routerLink="user-list">Users</a>
    <a routerLinkActive="active current" routerLink="changePermissions">Change Permissions</a>
    <a routerLinkActive="active current" routerLink="add-user">Add User</a>
    <a routerLinkActive="active current" routerLink="bugs">Bugs</a>
  </nav>
  <button (click)="logout()">Logout</button>
</div>
<router-outlet></router-outlet> -->


<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#1F70E8">
    <a class="navbar-brand" routerLink="/">
      {{'DASHBOARD.JBUGS' | translate}}
    </a>
    
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="user-list">
          <i class = "pi pi-user"></i>
          {{'DASHBOARD.USERLIST' | translate}}
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="add-user">
            <i class = "pi pi-user-plus"></i>
            {{'DASHBOARD.CREATEUSER' | translate}}
          </a>
      </li>

      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="changePermissions">
            <i class = "pi pi-table"></i>
            {{'DASHBOARD.ROLEPERMISSION' | translate}}
          </a>
      </li>

      <div *ngIf = "userHasBugManagementPermission === true">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="bugs">
            <i class = "pi pi-exclamation-triangle"></i>
            {{'DASHBOARD.BUGS' | translate}}
          </a>
      </li>
      </div>

      <div *ngIf="userHasBugManagementPermission === true">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="create-bug">
            <i class="pi pi-plus"></i>
            Create Bug
          </a>
        </li>
      </div>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="notifications">
          <i class="pi pi-globe"></i>
          {{'DASHBOARD.NOT' | translate}} (Unread: {{unreadNotifications}})
        </a>
      </li>
    
    </ul>

    <ul class="navbar-nav nav-bar-right">
    
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/">
              <i class = "pi pi-sign-out" (click)="logout()"></i>
              {{'DASHBOARD.LOGOUT' | translate}}
            </a>
        </li>

    </ul>
</nav>

<div class="container-fluid main--container" style = "margin-top: 2%;">
  <router-outlet></router-outlet>
</div>
