/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.bg-img
{
  background-image: url("C:\Training\50_WORKSPACES\jBugsFrontEndAngular\src\bugs2.gif");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
