<p-table id="user_table" [columns]="cols" [value]="notifications" [paginator]="true" [rows]="10"
         (onRowSelect)="onRowSelect($event)"
         selectionMode="single" [(selection)]="selectedNotification" [style]="{width: '100%' }">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of cols" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn
          [ngStyle]="{'width': col.width}">
        {{'NOTIFICATIONCOMP.'+ col.header | translate}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-selectedNotification>
    <tr [pSelectableRow]="rowData">



      <td>{{"MSG." + selectedNotification.type | translate}}</td>
      <td>{{selectedNotification.message}}</td>
      <td>{{selectedNotification.date}}</td>
      <td>{{selectedNotification.url}}</td>
<!--        {{rowData[col.field]}}-->

    </tr>
  </ng-template>
</p-table>
